$tablet-width: 768px;
$desktop-width: 1024px;

@import 'mixins/queries';
@import 'reset';

/* Start DH */
h2.headline {
  font-family: "Roboto",sans-serif;
  color: red;
}

header {
  &.site_header {
    background-color: #0a202b;
    height: 100px;

    h2 {
      color: #ffffff;

    }
  }
}

.page_content {
  background: #f9f6f0;
}

.page_banner {
  min-height: 170px;
  background: #256d4e;

  &__title {
    color: #f9f2e8;
    font-family: "Oswald",sans-serif;
    font-weight: 400;

    @include tablet {
      font-size: 25px;
    }
  
    @include desktop {
      font-size: 52px;
    }
  }
}


