<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Gail Helmer of Calgary, Alberta, Canada">
    <meta name="keywords" content="Gail, Helmer, obituary">
    <link rel="stylesheet" href="/website-one/assets/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i|Oswald|Source+Code+Pro">
  </head>
  <body>
    <header class="site_header">
      <a class="site_logo" href="/">
        <span class="site_logo__domain_name">gailhelmer.com</span>
        <span class="site_logo__full_name"></span>
      </a>
      
    </header>
    <div class="page_content">
      <div class="page_banner">
        <h1 class="page_banner__title">In Memorium</h1>
      </div>
      <div class="center">
        <div class="page_content__padding">
          {{ content }}
        </div>
      </div>
    </div>
    <div class="site_footer">
      <div class="center">
        <p>If you would like to send condolences or share a favourite memory of Gail with her family, please email <a href="mailto:remembrance@gailhelmer.com">remembrance@gailhelmer.com</a>.</p>
        <p class="note">Please note: This site is in development. We plan to additional sections in the coming days and weeks.</p>
      </div>
    </div>
  </body>
</html>